<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>What's on Coventry</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
		<header id="header">
			<a class="logo" href="/">What's on Coventry</a>
			<nav>
   	    			<ul>
                       			<li><a href="/">Home</a></li>
                       			<li><a href="/events">Events</a></li>
                       			<li><a href="/visit">Visit</a></li>
                       			<li><a href="/news">News and Updates</a></li>
					<li><a href="/discovery">Discovery</a></li>
			    	</ul>
			</nav>
		</header>

		<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<h1>What's on Coventry</h1>
				<p>Your guide to what's going on in Coventry</p>
			</div>
		</section>

		<!-- Highlights -->
		<section class="wrapper">
			<div class="inner">
				<header class="special">
					<h2>Latest news</h2>
					<p>The most recent current events</p>						
				</header>
				<div class="highlights">
					<section>
						<div id="box" class="content">
							<header>
								<a href="/visit">
                                        			<img src="images/kasbah.png" alt="Kasbah party" class="responsive">
      								</a>
								<h3>Night out - Kasbah's Discount</h3>
							</header>
							<p>Fantastic club for a great night's out. The place with unlimited fun, music and dance. Get ready to be heated in your unforgettable night. 
							20% Discount for first-timers students - Hurry, ends next Tuesday. </p>
						</div>
					</section>
					<section >
						<div id="box" class="content">
							<header>
								<a href="/visit">
								<img src="images/iceskate.png" alt="Ice rink" class="responsive">
      								</a>
								<h3>Ice skating - Coventry Blaze</h3>
							</header>
							<p>Watch the next Coventry Blaze match with 50% off when you sign up to Planet-Ice's Ice card for a year.
							The only convenient ice rink right next to IKEA. Be sporty, have fun.</p>
						</div>
					</section>
					<section>
						<div id="box" class="content">
							<header>
								<a class="twitter-timeline" data-lang="en" data-width="300" data-height="400" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/WhatOnCoventry?ref_src=twsrc%5Etfw">Tweets by WhatOnCoventry</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
							</header>								
						</div>
					</section>
				</div>
			</div>
		</section>
		
		<!-- CTA -->
		<section id="cta" class="wrapper">
			<div class="inner">
        		        <div class="newsletter">
					<h3>Sign up to our newsletter</h3>
                    			<form id="newsletter" action="/" onsubmit="subscribed()" method="get">
		    				Firstname:
							<input type="text" placeholder="Name" name="name" required
							pattern = "[A-Za-z]{1,20}$" maxlength="20"><br>
                        			E-mail:
							<input type="text" placeholder="E-mail address" name="email" required
							pattern = "[a-z0-9]+@[a-z0-9]+\.[a-z]{2,}$"><br>
                        			<input class="subscribe" type="submit" value="Subscribe">                        
                    			</form>
                    		</div>
			</div>
				
			<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>About the project</h3>
							<p>What's on Coventry is a project brought to you by Daniel Jones, Adam Smith, Jennifer Wan, Ricards Veveris, Thomas Walczak, Ross Woolfenden, and Razcan Danciulescu. We aim to bring you a fast, convenient, and effective way of getting the most recent and accurate information about the city and university of Coventry.</p>
						</section>
						<section>
							<h4>Our Social media Accounts : </h4>
							<ul class="plain">
                               	 				<a href="https://www.youtube.com/watch?v=WagR3jaBW34" class="fa fa-youtube">  </a>
                              					<a href="https://twitter.com/WhatOnCoventry" class="fa fa-twitter">   </a>
                                				<a href="https://www.facebook.com/Whats-On-Coventry-1960577907395132" class="fa fa-facebook">   </a>
                                				<a href="https://www.instagram.com/Whats-On-Coventry-1960577907395132" class="fa fa-instagram">   </a>			
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; Coventry University
					</div>
				</div>
			</footer>
		</section>



	<!-- Scripts -->    
	<script src="js/jquery.min.js"></script>
	<script src="js/browser.min.js"></script>
	<script src="js/breakpoints.min.js"></script>
	<script src="js/util.js"></script>
	<script src="js/main.js"></script>
        <script type="text/javascript">function add_chatinline(){var hccid=72962215;var nt=document.createElement("script");nt.async=true;nt.src="https://mylivechat.com/chatinline.aspx?hccid="+hccid;var ct=document.getElementsByTagName("script")[0];ct.parentNode.insertBefore(nt,ct);}
        add_chatinline(); </script>
	<script>
		function subscribed(){
			alert("Thank you for subscribing")
		}
	</script
	
	</body>
</html>
