<!DOCTYPE HTML>
<html>
	<head>
		<title>What's On Coventry</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="css/main.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
	</head>
    	<body class="is-preload">
	
        	<!-- Header -->
       		<header id="header">
            		<a class="logo" href="/">What's On Coventry</a>
        		
			<!-- Nav -->
       			<nav>
        			<ul>
                			<li><a href="/">Home</a></li>
                			<li><a href="/events">Events</a></li>
                			<li><a href="/visit">Visit</a></li>
                			<li><a href="/news">News and Updates</a></li>      
					<li><a href="/discovery">Discovery</a><li>
					<li><a href="/media">Media</a><li>
        			</ul>
        		</nav>
        	</header>

        	<!-- Heading -->
        	<div id="heading">
            		<h1 style="font-weight:bold;">Our comunity</h1>
        	</div>		

        	<!-- Main -->
        	<section id="main" class="wrapper">
            		<div class="inner">
                		<div class="content">
						<center><header>
							<h2>Social media</h2>
						</header>
						<h3>Youtube channel</h3>
						<a href="https://www.youtube.com/watch?v=WagR3jaBW34" class="fa fa-youtube"><img class="responsive" src="images/youtube-logo.jpg" alt="Youtube logo"  </a>
						<p>Make sure to follow us on our youtube channel for weekly updates!</p>
						<hr />
						<h3>Twitter</h3>
						<a href="https://twitter.com/WhatOnCoventry" class="fa fa-twitter">   </a>
						<p>Interesting surveys, photos and videos are on our twitter. Check it yourself!</p>
						<hr />
						<h3>Facebook</h3>
						<a href="https://www.facebook.com/Whats-On-Coventry-1960577907395132" class="fa fa-facebook">   </a>
						<p>Join our growing community!</p>
						<hr />
						<h3>Instagram</h3>
						<a href="https://www.instagram.com/Whats-On-Coventry-1960577907395132" class="fa fa-instagram">   </a>
						<p>We are holding monthly photos prices. Join today!</p></center>
						<hr />
					</div>               
            		</div>
        	</section>

        	<footer id="footer">
            		<div class="inner">
                		<div class="content">
                    			<section>
                        			<h3>About the project</h3>
                        			<p>What's on Coventry is a project brought to you by Daniel Jones, Adam Smith, Jennifer Wan, Ricards Veveris, Thomas Walczak, Ross Woolfenden, Razcan Danciulescu and Ridvan Karaman. We aim to bring you a fast, convenient, and effective way of getting the most recent and accurate information about the city and university of Coventry</p>
                    			</section>
                    			<section>
						<h4>Our Social media Accounts : </h4>
						<ul class="plain">
                               				<a href="https://www.youtube.com/watch?v=WagR3jaBW34" class="fa fa-youtube">  </a>
                               				<a href="https://twitter.com/WhatOnCoventry" class="fa fa-twitter">   </a>
                               				<a href="https://www.facebook.com/Whats-On-Coventry-1960577907395132" class="fa fa-facebook">   </a>
                               				<a href="https://www.instagram.com/Whats-On-Coventry-1960577907395132" class="fa fa-instagram">   </a>		
						</ul>
					</section>
                		</div>
                		<div class="copyright">
                    			&copy; Coventry University
                		</div>
            		</div>
        	</footer>

        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
	<script type="text/javascript">function add_chatinline(){var hccid=72962215;var nt=document.createElement("script");nt.async=true;nt.src="https://mylivechat.com/chatinline.aspx?hccid="+hccid;var ct=document.getElementsByTagName("script")[0];ct.parentNode.insertBefore(nt,ct);}
	add_chatinline(); </script>

    </body>
</html>
