<!DOCTYPE HTML>
<html>
	<head>
		<title>What's On Coventry</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="css/main.css" />
	</head>
    <body class="is-preload">
        <!-- Header -->
        <header id="header">
            <a class="logo" href="/">What's On Coventry</a>
        <!-- Nav -->
        	<nav>
        <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/events">Events</a></li>
                <li><a href="/visit">Visit</a></li>
                <li><a href="/news">News and Updates</a></li>
            
        </ul>
        </nav>
        </header>

        <!-- Heading -->
        <div id="heading">
            <h1 style="font-weight:bold;">News and Updates</h1>
        </div>
		

        <!-- Main -->
        <section id="main" class="wrapper">
            <div class="inner">
                <div class="content">
                    <header>
                        <p style="font-size:200%; text-align:center;">Coventry's latest news, events, and updates all in once place</p>
                        <p style="text-align:center;">Last updated: 10-03-2019 17:03</p>
                        
						<hr>
                    </header>
                    
					<center>
					<a href="https://www.bbc.co.uk/news/england/coventry_and_warwickshire"> <img class="responsive" src="images/bbcnews.png" alt="BBC Coventry and Warwickshire" style='width:380px;height:170px;'> </a> </center>
                     <p style="font-size:120%; font-weight:bold;">Murder probe as man found dead - A 29-year-old man has been arrested after police were called to reports of "disorder".</p>
                    	<hr />
                    	
                    <h6 style="font-size:200%; text-align:center; font-weight:bold;" >Student Union News</h6>
                  		
                     <ul><p style="font-size:120%;"><img src = 'https://www.cusu.org/asset/Event/7998/LA-graphic.jpg?thumbnail_width=480&thumbnail_height=270&resize_type=CropToFit' style='width:480px;height:270px;'> <br /> <p style='font-weight:bold;'>CUSU Leadership Award Application Workshop</p> <li> When: 11th March 5:05pm - 5:30pm</li> <br /> <li> Where: GE338</li> <br /> Find out about the CUSU Leadership award, and optionally bring a laptop and apply in-session!<br /> <br /><img src = 'https://www.cusu.org/asset/Event/7762/general-kasbah-image.jpg?thumbnail_width=480&thumbnail_height=270&resize_type=CropToFit' style='width:480px;height:270px;'> <br /> <p style='font-weight:bold;'>Bubble Luv</p> <li> When: 11th March 10pm - 3am</li> <br /> <li> Where: Kasbah</li> <br /> Bubble Luv at Kasbah is the biggest Monday night club night in Coventry and is not to be missed!<br /> <br /><img src = 'https://www.cusu.org/asset/Event/7998/LA-graphic.jpg?thumbnail_width=480&thumbnail_height=270&resize_type=CropToFit' style='width:480px;height:270px;'> <br /> <p style='font-weight:bold;'>CUSU Leadership Award Application Workshop</p> <li> When: 12th March 12:05pm - 12:35pm</li> <br /> <li> Where: Room 1.43 (Employability / Societies Office), The Hub</li> <br /> Find out about the CUSU Leadership award, and optionally bring a laptop and apply in-session!<br /> <br /><img src = 'https://www.cusu.org/asset/Event/8031/CUSU-Spring-Elections-2018-Web-1200x400px.jpg?thumbnail_width=480&thumbnail_height=270&resize_type=CropToFit' style='width:480px;height:270px;'> <br /> <p style='font-weight:bold;'>CU Coventry Campus Officer Question Time</p> <li> When: 12th March 1pm - 2pm</li> <br /> <li> Where: CU Coventry Mile Lane</li> <br /> Meet and ask questions to this years CU Coventry Campus Officer candidates!<br /> <br /><img src = 'https://www.cusu.org/asset/Event/7762/boom-general-image.jpg?thumbnail_width=480&thumbnail_height=270&resize_type=CropToFit' style='width:480px;height:270px;'> <br /> <p style='font-weight:bold;'>Boom! Tuesdays at JJ's</p> <li> When: 12th March 10pm - 3am</li> <br /> <li> Where: JJ's</li> <br /> BOOM! Tuesday's at JJ's is the biggest student Tuesday club night in Coventry and promises a great Tuesday every week!<br /> <br /><img src = 'https://www.cusu.org/asset/Event/7903/IMG_3113.jpg?thumbnail_width=480&thumbnail_height=270&resize_type=CropToFit' style='width:480px;height:270px;'> <br /> <p style='font-weight:bold;'>All Rep Conference 2019</p> <li> When: 13th March 1:15pm - 5pm</li> <br /> <li> Where: ECG-24</li> <br /> Reps are invited to the second all rep conference of the academic year, where we will look back at our reps' achievements and victories so far and meet those who will be campaigning to be our next Faculty Reps.<br /> <br /><img src = 'https://www.cusu.org/asset/groupinglogoimage/default/bb4be4d8ff16484a97163d5c2f3c3a4f.jpg?thumbnail_width=480&thumbnail_height=270&resize_type=CropToFit' style='width:480px;height:270px;'> <br /> <p style='font-weight:bold;'>Faculty Rep/PGT/PGR Officer Question Time</p> <li> When: 13th March 3pm - 5pm</li> <br /> <li> Where: ECG-24</li> <br /> Your chance to hear about all of the Faculty Rep/PGT/PGR Officer candidates ideas and to ask questions! This event is mandatory for candidates to attend.<br /> <br /><img src = 'https://www.cusu.org/asset/Event/7762/100-268-Empire-Wild-Wednesday-Banner-1920-x-1080-v2-1.jpg?thumbnail_width=480&thumbnail_height=270&resize_type=CropToFit' style='width:480px;height:270px;'> <br /> <p style='font-weight:bold;'>Wild Wednesdays</p> <li> When: 13th March 10pm - 3am</li> <br /> <li> Where: Empire</li> <br /> Your official Wednesday Night out is Wild every Week. Join us down at Empire for Wild Wednesdays<br /> <br /></p></ul>
						<hr />
					<h6 style="font-size:200%; text-align:center; font-weight:bold;" >Coventry University News</h6>
                  		
                     <ul><p style = 'font-size:120%;'> <a href = 'https://cumoodle.coventry.ac.uk/mod/forum/discuss.php?d=215644'>Test pilot to give guest lecture</a></p><p style='font-size:90%;'>Friday, 8 March 2019, 6:15 PM</p><p style = 'font-size:120%;'> <a href = 'https://cumoodle.coventry.ac.uk/mod/forum/discuss.php?d=215624'>Jobs Live coming soon</a></p><p style='font-size:90%;'>Friday, 8 March 2019, 4:48 PM</p><p style = 'font-size:120%;'> <a href = 'https://cumoodle.coventry.ac.uk/mod/forum/discuss.php?d=215613'>Disabled students – what do you think of the library service?   </a></p><p style='font-size:90%;'>Friday, 8 March 2019, 4:11 PM</p><p style = 'font-size:120%;'> <a href = 'https://cumoodle.coventry.ac.uk/mod/forum/discuss.php?d=206756'>Researchers need your help!</a></p><p style='font-size:90%;'>Monday, 28 January 2019, 8:13 AM</p><p style = 'font-size:120%;'> <a href = 'https://cumoodle.coventry.ac.uk/mod/forum/discuss.php?d=215571'>Careers Cafe with LinkedIn Photos </a></p><p style='font-size:90%;'>Friday, 8 March 2019, 2:41 PM</p></ul>
                     
                     
						<hr />
					<a href="https://github.com/DanielJ0nes/Web-Scraper">This page is powered by a Python script written and developed by Daniel Jones</a>
                </div>
                
            </div>
        </section>

        <footer id="footer">
            <div class="inner">
                <div class="content">
                    <section>
                        <h3>About the project</h3>
                        <p>What's on Coventry is a project brought to you by Daniel Jones, Adam Smith, Jennifer Wan, Ricards Veveris, Thomas Walczak, Ross Woolfenden, Razcan Danciulescu and Ridvan Karaman. We aim to bring you a fast, convenient, and effective way of getting the most recent and accurate information about the city and university of Coventry</p>
                    </section>

                    <section>
                        <h4>Social media</h4>
                        <ul class="plain">
                            <li><a href="https://twitter.com/WhatOnCoventry"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
                            <li><a href="https://www.facebook.com/Whats-On-Coventry-1960577907395132"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
                            <li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
                            <li><a href="https://www.youtube.com/watch?v=WagR3jaBW34"><i class="icon fa-youtube">&nbsp;</i>YouTube</a></li>
                        </ul>
                    </section>
                </div>
                <div class="copyright">
                    &copy; Coventry University
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>
		<script type="text/javascript">function add_chatinline(){var hccid=72962215;var nt=document.createElement("script");nt.async=true;nt.src="https://mylivechat.com/chatinline.aspx?hccid="+hccid;var ct=document.getElementsByTagName("script")[0];ct.parentNode.insertBefore(nt,ct);}
add_chatinline(); </script>

    </body>
</html>
			
