@import url(font-awesome.min.css);
@import url(main.css);

.midcolumn {
    float:left;
    width:70%;
    margin: 0 auto;
}

.rightcolumn {
    float:right;
    width:60%;
    padding-right: 10%;
}

.leftcolumn {
    float:left;
    width:40%;
    padding-left: 15%
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
