@import url(font-awesome.min.css);
@import url(main.css);

.midcolumn {
    float:left;
    width:70%;
    margin: 0 auto;
}

.rightcolumn {
    float:left;
    width:30%;
    margin: 100px;
}

.leftcolumn {
    float:right;
    width:30%;
    margin: 100px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#headingDis {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  background-color: #111111;
  color: rgba(255, 255, 255, 0.5);
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-image: linear-gradient(rgba(17, 17, 17, 0.25), rgba(17, 17, 17, 0.25)), url("../../images/cov view.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 0;
  display: -ms-flexbox;
  height: 15rem !important;
  min-height: 15rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%; }
