@import url(font-awesome.min.css);
@import url(main.css);

section {
    padding-bottom:5px;
    padding-top:5px;
}

#searchbar {
    float:left;
    width:80%;
    padding-bottom:20px;
}

#search-button {
    float:left;
}

#search-button:after {
    clear:both;
}

.search-container {
    margin:0 auto;
    padding-bottom:5px;
}

.event {
    width:30%;
    float:left;
    margin-left:10px;
    margin-right:10px;
}


#google {
    height:500px;
    width:300px;
    float:left;
}

.midcolumn {
    float:left;
    width:70%;
    margin: 0 auto;
}

.rightcolumn {
    float:left;
    width:15%;
}

.leftcolumn {
    float:left;
    width:15%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.evtitle {
    text-align: center;
}

img {
    width:100%;
}
